.arrows {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-left,
.arrow-right {
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
