nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.2rem;
  position: relative;
  max-height: 1rem;
  z-index: 999;
}
nav li {
  list-style: none;
}
.company-logo h4 {
  color: rgb(229, 213, 244);
  font-size: 1.5rem;
}
.menu-bar {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
.menu-bar h4 {
  font-size: 1rem;
  display: flex;
  backdrop-filter: blur(2px);
  padding: 0.6rem;
  border-radius: 100px;
  transition: 0.3s ease-in;
}
.menu-bar h4:hover {
  transform: scale(1.2);
}
.nav-conatainer {
  inset: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(169, 169, 169, 0.192);
  position: fixed;
  padding: 0rem 1rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.1);
}
.login-btn {
  color: rgb(250, 246, 246);
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  padding: 0.5rem;
  cursor: pointer;
}
.signup-btn {
  color: rgb(250, 246, 246);
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  padding: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
}
.signup-btn:hover {
  box-shadow: 1px 1px 2px orange;
}
.acc-details {
  position: relative;
}
.acc-details p {
  position: absolute;
  margin-top: 1rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  /* margin-right: 40rem; */
  left: -4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.1);
}
