.body {
  box-sizing: border-box;
}
.post-details-main-container {
  background: var(--main-bg);
  width: 110%;
  min-height: 10px;
  max-height: 100%;
  border-radius: 20px;
  padding: 1rem;
}
.post-details-container {
  display: flex;
  background: var(--main-bg);
  color: black;
  padding: 1rem;
}
.post-details-page {
  border-radius: 10px;
  display: grid;
  place-content: center;
  place-items: center;
  width: 70%;
  margin: 1rem 2rem;
  padding: 2rem;
}
.post-details-img {
  width: 27rem;
  height: 27rem;
}
.post-details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.post-detail-title {
  font-size: 5rem;
}
.content {
  font-size: 1.2rem;
  padding: 1.2rem;
  line-height: 1.5rem;
}
.content button {
  border: 0;
  padding: 0.4rem;
  margin: 1rem 0.4rem;
  background: linear-gradient(white grey);
}
