.main-left {
  min-width: 20%;
  background-color: black;
}
.categories li,
a {
  list-style-type: none;
  padding: 0.75 0 0.75 0rem;
  color: white;
  text-decoration: none;
}
.categories {
  padding-left: 1rem;
}
.main-nav-left {
  display: grid;
  place-content: center;
  place-items: center;
}
