.main-mid {
  margin-top: 0;
  min-width: 60%;
  background: var(--bg);
}
.main-nav-mid {
  display: flex;
  gap: 32.7rem;
}
.main-mid-nav-container {
  display: flex;
}
.main-nav-mid ul,
li {
  display: flex;
}
.card-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 2rem;
}
.card-container {
  max-width: 27rem;
  min-width: 17rem;
  max-height: 100%;
  margin-left: 1.2rem;
}
.card {
  width: 100%;
  border-radius: 3px;
  /* margin: 0.8rem; */
  margin-top: 0rem;
  text-align: center;
  background-color: white;
  color: black;
  cursor: pointer;
  overflow: hidden;
}
.card h4 {
  margin: 0.3rem;
}
.card img {
  max-width: 19rem;
  max-height: 15rem;
  min-height: 15rem;
  min-width: 19rem;
  object-fit: cover;
}
.search-btn {
  display: flex;
  /* background-color: black; */
  max-width: 10rem;
  /* overflow: hidden; */
  margin-left: -6.4rem;
}

.search-btn input {
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  margin-right: 1.3rem; /* Adjust as needed for spacing between input and button */
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.161);
  color: white;
}
.search-btn input::placeholder {
  color: rgba(255, 255, 255, 0.568);
}

.search-btn button {
  background-color: rgba(0, 0, 0, 0.161);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgba(44, 43, 43, 0.837);
}
