.main-mid {
  min-width: 60%;
  background: var(--bg);
  height: 100%;
}
.main-nav-mid {
  display: flex;
  gap: 32.7rem;
}
.main-mid-nav-container {
  display: flex;
}
.main-nav-mid ul,
li {
  display: flex;
}
.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 0.5rem;
  grid-column-gap: 2rem;
  margin: 0 2rem;
  overflow: hidden;
}
.card {
  position: relative;
  border-radius: 3px;
  text-align: center;
  background-color: white;
  color: black;
  cursor: pointer;
}
.card h4 {
  padding: 0.3rem;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 27vh;
  transition: opacity 0.3s ease-in-out;
}
.card .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card:hover img {
  opacity: 0.8;
}
.card:hover .content {
  opacity: 1;
}

.search-btn {
  display: flex;
  margin-left: -5rem;
}
.search-btn input {
  border: none;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.search-btn input::placeholder {
  color: rgba(255, 255, 255, 0.349);
}
.search-btn li {
  background-color: rgba(0, 0, 0, 0.161);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgba(44, 43, 43, 0.837);
}
